<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>Ingresar Libro - 2Parcial</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Ingresar Libros</h2>
                </div>
                <div class="card-body">
                    <form method="POST" th:action=@{/insertLibro} th:object="${libro}">
                       
                        <div class="form-row">
                            <div class="name">Título</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="titulo" th:field="*{titulo}">
                                    <span th:errors="*{titulo}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Autor</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="autor" th:field="*{autor}">
                                    <span th:errors="*{autor}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">ISBN</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="isbn" th:field="*{isbn}">
                                    <span th:errors="*{isbn}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Categoria</div>
                            <div class="value">
                                <div class="input-group">
                                    <th>
	                                    <select class="input--style-5" th:field="*{categoria.codigo}">
											<option th:each="categoria: ${categorias}" th:value="${categoria.codigo}"
											th:text="${categoria.nameCategoria}">
											</option>
										</select>
									</th>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Estado</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="checkbox" name="estado" th:field="*{estado}">
                                    <span th:errors="*{estado}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div sytle="display: flex;">
                            <button class="btn btn--radius-2 btn--red" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>

</html>
